{% extends 'admin.html' %}
{% block content %}
    <table class="table table-hover table-stripped table-bordered" style="margin: auto;">
      <thead class="table-dark">
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
        <tr class="table-light">
            <td>{{i.user.username}}</td>
            <td>{{i.Name}}</td>
            <td>{{i.Age}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.Phone}}</td>
            <td>
            <img src="{{i.Image.url}}" alt="" style="width: 100%; height: 165px;">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
{% endblock %}