{% extends 'admin.html' %}
{% block content %}
    <table class="table table-hover table-stripped table-bordered" style="margin: auto;">
      <thead class="table-dark">
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Shipping address</th>
          <th scope="col">Products</th>
          <th colspan="2" >order Status</th>
    
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
        <tr class="table-light">

            <td>{{i.user.username}}</td>
            <td>{{i.shipping_address}}</td>

            
            {% for j in i.orderitem.all %}
            <td>{{j.product.name}}</td>
            {% endfor %}

            <td>
                <a href="{% url 'delivered' i.id %}">Deliver Item</a>
            </td>
              
            
      
      
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
{% endblock %}